@model List<MFCommunity.Models.FavouriteSong>

@{
    ViewData["Title"] = "Favourite  list";
}

<h1 class="favsongstitle">Favourite list</h1>

<div class="row playalbumblock">
    <img class="albumplayicon" onclick="myFunction()" src="~/images/playalbum.svg" />
    <h4 class="playalbumtitle">Play your list</h4>
</div>

<table class="table favsongstable">
    <thead>
        <tr>
            <th>
                Track
            </th>
            <th>
                Album
            </th>
            <th>
                Artist
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Song.SongTitle
                </td>

                <td>
                    <a asp-controller="Albums" asp-action="Details" asp-route-id="@item.Song.Album.ID">@item.Song.Album.AlbumTitle</a>
                </td>

                <td>
                    <a asp-controller="Artists" asp-action="Details" asp-route-id="@item.Song.Album.ArtistID">@item.Song.Album.Artist.ArtistName</a>
                </td>
                <td class="deleteicon">
                    <a asp-action="Delete" asp-route-id="@item.ID"><img class="removeicon" src="~/images/remove.svg" title="Remove song" /></a>
                </td>

                <td>
                    <a href=~/media/albums/@item.Song.SongUrl target="_blank"><img class="favsongsplayicon" src="~/images/play.svg" title="Play track" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="player">

    <div id="waveform">

        <h3>MFC Player</h3>
    </div>

    <div class="col-sm-2 playerbuttons">
        <button class="btn btn-success btn-block" id="playPause">
            <span id="play">
                <i class="glyphicon glyphicon-play"></i>
                Play
            </span>

            <span id="pause" style="display: none">
                <i class="glyphicon glyphicon-pause"></i>
                Pause
            </span>
        </button>
    </div>

    <div class="list-group" id="playlist">
        @foreach (var item2 in Model)
        {
            <a href=~/media/albums/@item2.Song.SongUrl class="list-group-item">
                <i class="glyphicon glyphicon-play"></i>
                @item2.Song.SongTitle <span class="playlistdetails">Artist: @item2.Song.Album.Artist.ArtistName - Album: @item2.Song.Album.AlbumTitle</span>
            </a>
        }
    </div>

</div>