@model MFCommunity.Models.Album
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> _signInManager
@inject UserManager<User> _userManager

@{
    ViewData["Title"] = @Model.AlbumTitle;
}

<div>

    <h1 class="albumDetailsTitle">@Model.AlbumTitle -  <a asp-controller="Artists" asp-action="Details" asp-route-id="@Model.ArtistID">@Model.Artist.ArtistName</a></h1>

    <img class="albumDetailsCover" src="~/media/albums/@Model.AlbumImage" alt="@Model.AlbumTitle cover" />

    <h3 class="tracksalbum">Tracks in the album</h3>

    <div class="albumDetailsSongs">
        <table class="songlist">
            <tr>
                <th></th>
                <th></th>
            </tr>

            @foreach (Song song in Model.Songs)
            {
                <tr>
                    <td>@song.SongTitle</td>
                    <td><img class="songlisticon" src="~/images/play.svg" alt="Alternate Text" /><img class="songlisticon" src="~/images/download.svg" alt="Alternate Text" /><img class="songlisticon" src="~/images/favourite.svg" alt="Alternate Text" /></td>
                </tr>

            }
        </table>
    </div>

</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>