@model List<MFCommunity.Models.Artist>

@{
    ViewData["Title"] = "Index";
}

    <div class="col-10 offset-1 artiscatalog">

        <h2>Artists</h2>

        <div class="row artists">
            @foreach (Artist artists in Model)
            {
                <div class="card" style="width: 11rem;">
                    <a asp-controller="Artists" asp-action="Details" asp-route-id="@artists.ID"><img src="~/media/artists/@artists.ArtistImage" class="card-img-top" alt="@artists.ArtistName image"></a>
                    <div class="card-body">
                        <p class="card-text">@artists.ArtistName</p>
                    </div>
                </div>
            }
        </div>
    </div>


@*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArtistName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtistImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtistBio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArtistName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtistImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtistBio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
